body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(23,23,23,255);
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border: 2px solid gray;
  border-radius: 4px;
}


body {
    background-color: rgba(23,23,23,255);
    width: 100%;
    max-width: 100%;
}
.homeSliderText {
    width: 30%;
    float: left;
}
.homeSlider {
    position: absolute;
    float: right;
    width: 50%;
    top: 30%;
    left: 50%;
}
.homeBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/public/images/slider/mainImage.png");
    background-repeat: no-repeat;
    background-size: 60vw 50vh;
    opacity: 0.3;
    top: 10%;
    left: -30%;
    z-index: -1;
}
.homeDivider {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    body {
        position: relative;
        overflow: auto;
      }
      html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
      }
      html.overflow-hidden,
      body.overflow-hidden {
        overflow: hidden;
      }
      .homeSlider {
        display: flex;
        position: relative;
        float: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        right: 0;
        margin-bottom: 5vh;
      }
      .homeBackground {
        background-size: 100vw 30vh;
        top: 20%;
        left: -50%;
    }
}