body {
    background-color: rgba(23,23,23,255);
}
.home {
    background-image: url("/public/images/slider/mainImage.png");
    background-position: -40%;
    background-repeat: no-repeat;
    background-size: 45%;
}
.homeMain {
    display: flex;
    flex-direction: column;
}
