.featuredMain {
    height: 60vh;
    display: flex;
    flex-direction: row;
}
.featuredText {
    float: left;
    margin: 2rem;
}
.featuredText h2 {
    font-size: 42px;
    color: rgba(81,198,218,255);
    font-weight: 500;
}
.featuredText p {
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.featuredText hr {
    width: 30%;
    border: 1px solid rgba(81,198,218,255);
}
.featuredText ul li, .featuredText p {
    color: rgba(241,241,241,255);
}
.featuredImage {
    float: right;
    position: absolute;
    left: 60%;
    margin-top: 4rem;
}
.featuredImage img {
    width: 20rem;
    height: 15rem;
}
.featuredSpecs {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    
}
.specsList {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
    line-height: 2;
}
@media (max-width: 768px) {
    .featuredImage img {
        position: relative;
        width: 15rem;
        height: 10rem;
        z-index: -1;
    }
    .featuredImage {
        left: 60%;
        margin-top: 4rem;
    }
}
@media (min-width: 1900px) {
    .featuredMain {
        height: 40vh;
        align-items: center;
    }
    .featuredImage img {
        width: 30rem;
        height: 25rem;
    }
    .featuredText {
        margin: 5rem;
    }
}