.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainImage {
    width: 70%;
    max-width: 600px;
    height: 100%;
}

.thumbnails {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.thumbnail {
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    border: 2px solid rgba(39,39,39,255);
    transition: border-color 0.3s;
    background-color: rgba(23,23,23,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnailImage {
    width: 2rem;
    height: 1.5rem;
}
@media (max-width: 768px) {
    .slider {
        margin-top: 5vh;
        width: 80vw;
        max-width: 800px;
    }
    .mainImage {
        width: 100%;
        max-width: 800px;
        height: 100%;
    }
}
@media (min-width: 1900px) {
    .mainImage {
        width: 100%;
        max-width: 800px;
    }
}